1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [5]:
x = 123
print(x)

123

2) Imprimir el tipo de dato de la constante 8.5

In [11]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [8]:
type(x)

int

4) Crear una variable que contenga tu nombre

In [12]:
name = "marcos"

5) Crear una variable que contenga un número complejo

In [13]:
i= 35j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [14]:
type(i)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [18]:
pi = 3.14245346
pi = round(pi,4)

print(pi)

3.1425

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [22]:
one = 'True'
two = True

print(one==two)

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [23]:
print('Tipo de dato "one" es: ',type(one),'. Y "two" es:',type(two))

Tipo de dato "one" es:  <class 'str'> . Y "two" es: <class 'bool'>


10) Asignar a una variable, la suma de un número entero y otro decimal

In [25]:
var1 = 2.1 + 5

print(var1)

7.1

11) Realizar una operación de suma de números complejos

In [29]:
var2 = 3j + 5
var3 = 3 + 5j
print(var2 + var3)

(8+8j)

12) Realizar una operación de suma de un número real y otro complejo

In [30]:
print(var2 + var1)

(12.1+3j)

13) Realizar una operación de multiplicación

In [31]:
print(4*5)

20

14) Mostrar el resultado de elevar 2 a la octava potencia

In [33]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [35]:
var4 = 27/4
print(var4)

6.75

16) De la división anterior solamente mostrar la parte entera

In [36]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [37]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [38]:
print(6*4+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [40]:
var5 = 'Marcos'
var6 = 'Rey'
print(var5+' es el '+var6)

Marcos es el Rey

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [44]:
print('2'==2)

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [45]:
print('2'==str(2))

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [51]:
a=float('3.8')
print(a)

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [56]:
var7 = 3
var7-=1
print(var7)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [57]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [60]:
2+2

4

26) Realizar una operación válida entre valores de tipo entero y string

In [62]:
print('a'*3 + '5')

aaa5